.piece-builder .main{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  padding-right: 300px;
  width: 100%; height: 100vh;
}

.piece-builder .main > button{
  margin-top: 32px;
  border: 2px solid #FFF;
  color: #FFF;
  padding: 8px 12px;
  background: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.piece-frame{
  display: flex;
    flex-wrap: wrap;
  border: 2px solid #FFF;
  width: 240px;
}

.piece-frame .piece-row{
  display: flex;
  width: 100%;
  border-bottom: 1px solid #FFF;
}

.piece-frame .piece-row:last-of-type{ border-bottom: none }

.piece-frame .piece-row .pixel{
  width: 30px; height: 30px;
  border-right: 1px solid #FFF;
}

.piece-frame .piece-row .pixel:last-of-type{ border-right: none }


.piece-picker ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 8px;
}

.piece-picker ul li{
  margin: 2px;
}