.piece-menu{
  position: fixed;
  right: 0; top: 0;
  width: 300px; height: 100vh;
  border-left: 1px solid #FFF;
}



.piece-builder .main{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 300px;
  width: 100%; height: 100vh;
}

.piece-frame{
  display: flex;
    flex-wrap: wrap;
  border: 2px solid #FFF;
  width: 240px;
}

.piece-frame .piece-row{
  display: flex;
  width: 100%;
  border-bottom: 1px solid #FFF;
}

.piece-frame .piece-row:last-of-type{ border-bottom: none }

.piece-frame .piece-row .piece{
  width: 30px; height: 30px;
  border-right: 1px solid #FFF;
}

.piece-frame .piece-row .piece:last-of-type{ border-right: none }


.color-picker{ display: flex; flex-wrap: wrap; padding: 10px; }
.color-choice{ width: 20px; height: 20px; margin: 5px; }
  .color-choice.selected{ border: 2px solid pink}